@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	scroll-behavior: smooth;
}

section {
	height: 100svh;
	width: 100%;
	overflow-x: hidden;
}

section:not(.landing-page) {
	display: flex;
	justify-content: center;
}
section:not(.landing-page) > div {
	max-width: 1920px;
	width: 100%;
	overflow: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.inner-hex-clip {
		clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
	}
}

.video-radial {
	background-image: radial-gradient(
		at 50% 0,
		#e2ebf5 0%,
		#dae5f1 25%,
		#c1d3e7 50%,
		#b0c7e1 60%
	);
}

.video-linear-grd {
	background-image: linear-gradient(
		to bottom,
		#bfd1e5 20%,
		#b6cbe2 40%,
		#a7c1dd 60%,
		#90acd1 90%
	);
}

.page-gradient {
	background-image: linear-gradient(to top, #d5e7ff 25%, white 100%);
}

.video-shadow {
	box-shadow: 0px 20px 5px 0px rgba(0, 0, 0, 0.75);
}
