@tailwind base;
@tailwind components;
@tailwind utilities;

section {
	height: 100svh;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	.inner-hex-clip {
		clip-path: polygon(100% 100%, 0 100%, 0 0, 100% 0, 70% 30%, 70% 70%);
	}
}
